@use "./components/header";
@use "./components/score";
@use "./components/game";
@use "./components/rulesModal";
@use "./components/attribution";
@use "./utils/variables" as var;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
}


