@use "../utils/variables" as var;
@use "../utils/hideText" as hideText;
@use "../utils/flex-mixin" as mix;

.header {
    @include mix.setFlex(row, space-between);
    border: 3px solid var.$Header-Outline;
    border-radius: 10px;
    width: 85%;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: -70px;
    padding: 10px;
    @media only screen and (min-width: 800px) and (min-height: 700px) {
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 0;
    }

    &__title {
        @extend %hideText;
    }

    &__logo {
        width: 60px;
        margin-left: 10px;
        @media only screen and (min-width: 800px) and (min-height: 700px) {
            width: 100px;
            margin-left: 0;
        }
    }
}

